#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px 0;
  background-color: gray;
  border-radius: 10px ;
}
span{
  margin-left: 10px;
}
.info{
  margin: 10px 0;
}
.add{
  margin-left:15px ;
}
.task{
  padding: 10px;
  border-radius: 10px;
  border: none;
}